flask
ultralytics
openai==0.28
flask_cors
flask_session
fastapi
uvicorn
numpy
opencv-python-headless
pandas
tensorflow-cpu
keras
requests
torch
scikit-learn
joblib
pydantic
python-multipart
numpy
gunicorn
google-cloud-texttospeech